<div class="sidebar-container">
    <div class="sidebar-logo">
      URL SHORT
    </div>
    <ul class="sidebar-navigation">
      <li class="header">MENU</li>
      <li>
        <a href="#" routerLink="/urlp">
          <i class="fa fa-home" aria-hidden="true"></i> URL
        </a>
      </li>
      <li>
        <a href="#" routerLink="/urls">
          <i class="fa fa-tachometer" aria-hidden="true"></i> ALL LINKS
        </a>
      </li>
      <li class="header">Another Menu</li>
      <li>
        <a href="#" routerLink="/count">
          <i class="fa fa-users" aria-hidden="true"></i> COUNT
        </a>
      </li>
      <li>
        <a href="#" routerLink="/settings">
          <i class="fa fa-cog" aria-hidden="true"></i> SETTINGS
        </a>
      </li>
      <li>
        <a href="#" routerLink="/info">
          <i class="fa fa-info-circle" aria-hidden="true"></i> INFO
        </a>
      </li>
    </ul>
  </div>
  <body style="background-color: blueviolet;" class="bk">
   <div>fjiefo</div>
  <img src="https://image.freepik.com/free-vector/flat-hand-drawn-coworking-space_52683-54823.jpg" class="per">
  </body>